.container {
  margin: 20px;
  background-color: #f2f2f2;
  
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
}

.search-add-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search {
  display: flex;
  align-items: center;
}

.searchinput input {
  padding: 8px;
  margin-right: 10px;
}

.gender, .medical {
  margin-right: 20px;
}

.tableWrapper {
  max-height: 400px; /* Set maximum height for the table */
  overflow-y: auto;  /* Enable vertical scrolling */
  margin-top: 20px;  /* Add some space above the table */
}

/* General table styling */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  padding: 10px;
  position: sticky; /* Fix the header at the top */
  top: 0; /* Stick the header at the top */
  background-color: #fff; /* Background for the header to distinguish it */
  z-index: 10; /* Ensure header stays above the scrollable content */
  border-bottom: 1px solid #ddd; /* Add border for better visibility */
}

.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Optional: Add border for the rows */
}

/* Hover effect for rows */
.table tr:hover {
  background-color: #f9f9f9; /* Light background on hover */
}

.modal-content {
  padding: 20px;
}

.modal-close {
  cursor: pointer;
  float: right;
}

.btn {
  margin: 5px;
}


.icon {
  margin-right: 10px; 
}

.deletecontainer
{
  gap: 15px;
}
.deletemodalbuttons
{

   gap: 15px;
   
   margin-left: 20px;
}
.deleteCloseIcon
{
  margin-left: 440px;
  cursor: pointer;
  margin-top: -20px;
}

.modalContent {
  width: 500px; 
  background-color: white; 
  padding: 20px; 
  border-radius: 8px;
  position: relative; 
  text-align: center; 
}

.footer{
  background-color: rgba(0, 0, 0, 0.137);
}