.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
   
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-column {
    flex: 5;
    padding: 0 20px;
  }
  
  .footer-column h3 {
    font-size: 1.5rem;
  }
  
  .footer-column p {
    margin-bottom: 10px;
  }
  
  .social-links a {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
  }
  