.container {
  margin-top:px;   
  background-color: #f2f2f2;
  margin: 10px;
  
  
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profileInfo {
  margin-bottom: 10px; 
  margin-left: 1400px;
}

.patientName {
  font-size: 24px; 
  
}

.filterSection {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px; /* Space below filter section */
  gap: 10px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
}

.modalBody {
  padding: 10px;
}

/* Adding scrollable table CSS */
.tableWrapper {
  margin: 20px;
justify-content: center;
 height: 360px;
  max-height: 430px; 
  overflow-y: auto;  
  margin-top: 20px;  
  
}

.table {
  width: 100%;
 
}

.table th {
  padding: 10px;
  position: sticky; /* Fix the header at the top */
  top: 0; /* Stick the header at the top */
  background-color: #fff; /* Background for the header to distinguish it */
  z-index: 10; /* Ensure header stays above the scrollable content */
  border-bottom: 1px solid #ddd; /* Add border for better visibility */

}

.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd; 
  
}

.table tr:hover {
  background-color: #f9f9f9; /* Light background on hover */
}


.table tr {
  border: none; 
}


.footer
{
  background-color: rgba(0, 0, 0, 0.123);
}
.startDatePicker
{
  gap: 10px;
}