.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 1200px;
  margin-top: -10px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.patient-name {
  margin-left: 15px;
  font-size: 24px;
  font-weight: bold;
}

.filter-section {
  margin-bottom: 20px;
  width: 100%;
}

.table {
  width: 100%;
  margin-top: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
