.container {
  margin-top:px;   
  background-color: #f2f2f2;
  
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profileInfo {
  margin-bottom: 10px; /* Space below profile info */
  margin-left: 1500px;
}

.patientName {
  font-size: 24px; /* Adjust patient name font size */
}

.filterSection {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px; /* Space below filter section */
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
}

.modalBody {
  padding: 10px;
}

/* Adding scrollable table CSS */
.tableWrapper {
  max-height: 400px; /* Set maximum height for the table */
  overflow-y: auto;  /* Enable vertical scrolling */
  margin-top: 20px;  /* Add some space above the table */
}

.table {
  width: 100%;
 
}

.table th {
  padding: 10px;
  position: sticky; 
  top: 0; 
  z-index: 10; 

}

.table td {
  padding: 10px;
  text-align: left;
  
}

.table tr:hover {
  background-color: #f9f9f9; /* Light background on hover */
}


.table tr {
  border: none; 
}


.footer
{
  background-color: rgba(0, 0, 0, 0.123);
}